services:
  # Docker web service(JavaEE)
  - type: web
    name: portfolio
    runtime: docker
    dockerfilePath: ./config/Dockerfile
    dockerContext: .
    repo: https://github.com/yoshinori500426/portfolio.git
    branch: main
    rootDir: .
    region: singapore
    plan: free
    envVars: 
      - key: DATABASE_URL
        fromDatabase:
          name: dbForOperationCheck
          property: connectionString

  # static site
  - type: web
    name: portfolio_staticSite
    runtime: static
    # buildCommand: yarn build
    staticPublishPath: ./shigaTouristAttractionsInformation
    repo: https://github.com/yoshinori500426/portfolio.git
    branch: main
    rootDir: .
    region: singapore
    plan: free

databases:
  # db
  - name: dbForOperationCheck
    databaseName: free_db_7own
    region: singapore
    plan: free