@charset "UTF-8";

body {
	background-color: azure;
}

.box {
	width: 800px;
	margin: 0px auto;
}

tr, th {
	padding: 0px 20px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.inputRequired[data-inputRequired="false"] {
	background-color: rgb(255, 255, 166);
	border: solid 1px rgb(118,118,118);
	border-radius: 2px;
	height: 27px;
}

.inputRequired[data-inputRequired="true"] {
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(118,118,118);
	border-radius: 2px;
	height: 27px;
}

.inputRequired[disabled="disabled"] {
	background-color: rgb(244, 248, 248);
	border: solid 1px rgb(205,214,214);
	border-radius: 2px;
	height: 27px;
}

/* 'entryExitInfoList.jsp'のみで使用される書式 */
.enextable {
	border: 1px solid black;
	text-align: center;
}

.enexthead {
	border-bottom: solid 1px;
}
