@charset "UTF-8";

body {
	background-color: azure;
}

.box {
	width: 800px;
	margin: 0px auto;
}

.enextable{
    border: 1px solid black;
    text-align: center;
}
.enexthead{
	border-bottom: solid 1px;
}

tr,th{
	padding:0px 20px;
}
